body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(14, 14, 14);
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.aboutme {
    display: flex;
    color: white;
    align-items: center;
}

img {
    max-width: 30%;
    height: auto;
    float: left;
    margin-left: 150px;
    margin-top: 11.7%;
}

.text {
    margin-left: 200px;
}

h1 {
    margin-left: 50px;
    font-family: 'DM Serif Display', serif;
	font-style: italic;
    font-size: 74px;
}
    
h1:hover  {
    animation: glitch 1s infinite ease;
  }
  h1:hover {
    animation: glitch 1s infinite ease;
  }
  h1:hover {
    animation: glitch 1s infinite ease;
  }



h2{
    font-weight: 300;
    text-align: justify;
    max-width: 70%;
}



@keyframes glitch {
    0% {
      text-shadow: 0 0 0 #fff;
    }
    40% {
      text-shadow: 3px 0 0 #22ffc8;
    }
    43% {
      text-shadow: 3px 0 0 #ffffff,
                   15px 0 0 #ff4d4d,
                   -7px 0 0 #22ffc8;
      color: #f1f1f1;
    }
    44% {
      text-shadow: 3px 0 0 #ffffff,
                   15px 2px 0 #ff4d4d,
                   -7px -1.5px 0 #22ffc8;
      color: rgba(0,0,0,0.2);
    }
    45% {
      text-shadow: 3px 0 0 #ffffff,
                   15px 0 0#ff4d4d,
                   -7px 0 0 #22ffc8;
      color: #f1f1f1;
    }
    
    
    100% {
      text-shadow: 0 0 0 #fff;
    }
  }

  .image-position {
	max-width: 10%;
	z-index: 800;
	position: absolute;
	bottom: 55%;
	right: 10%;
  }

 
* {
  scrollbar-width: thin;
  scrollbar-color: #000000 #FFFFFF;
}


*::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}
*::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #FFFFFF;
}

*::-webkit-scrollbar-track:hover {
  background-color: #CECECE;
}

*::-webkit-scrollbar-track:active {
  background-color: #A3AAAB;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #000000;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #373737;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #000000;
}

@media (max-width: 1300px) {
  .aboutme {
    margin-top: -20%;
    align-items: flex-start;
    flex-direction: column;
  }
  
  img {
      max-width: 60%;
      height: auto;
      margin: 0 auto;
      margin-top: 0;
  }
  
  .text {
    background-color: white;
    padding: 20px;
    margin: 0 0px;
    color:black;
  }
  
  h1 {
      font-size: 25px;
  }
  

  h2 {
    font-size:18px;
      text-align: justify;
      padding: 10px;
      max-width: 100%;
  }
  
  .image-position {
     display:none;
  }
  

}

  @media (max-width: 600px) {

  
  .aboutme {
    margin-top: -20%;
    align-items: flex-start;
    flex-direction: column;
  }
  
  img {
      max-width: 100%;
      height: auto;
      margin: 0 auto;
      margin-top: 0;
  }
  
  .text {
    background-color: white;
    padding: 20px;
    margin: 0 0px;
    color:black;
  }
  
  h1 {
      font-size: 25px;
  }
  

  h2 {
    font-size:18px;
      text-align: justify;
      padding: 10px;
      max-width: 100%;
  }
  
  .image-position {
     display:none;
  }
  
}


	
@media (max-width: 380px) {
  body {
    align-items: center;
    }
 
  h2 {
    font-size:18px;
      font-weight: 300;
      text-align: start;
      padding: 10px;
      max-width: 100%;
  }


}
@media (max-width: 350px) {

}