html,
body {
	box-sizing: border-box;
	margin: 0;
	padding-top: 5px;
	padding-left: 60px;
	height: 95%;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Raleway', sans-serif;
}

.image-container {
	padding-top: 35px;
	right: 25%;
	height: 100%;
	width: 100%;
	position: relative;
	-webkit-perspective: 1500px;
	perspective: 1500px;
	transform-style: preserve-3d;
	transform: translate3d(0, 0, 0);	
}
.canvas {
	width: auto;
	max-height: 100%;
	max-width: 100%;
	display: block;
	margin: auto;
}
.loading-screen {
	position: absolute;
	width: 100%;
	height: 100%;
	background: white;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	visibility: visible;
	opacity: 1;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	line-height: 40px;
	transition: 0.25s ease all 0.75s;
	color: #999;
	transform: translateZ(50px);
}
.loading-screen.hidden {
	visibility: hidden;
	opacity: 0;
}



.text {
	padding-left: 20px;
	font-size: 30px;
	white-space: nowrap; 
	text-overflow: ellipsis; 
	text-align: center;
  }

h1{
	
	font-family: 'DM Serif Display', serif;
	font-weight: 400;
	font-style: italic;
}

h2{
	width: 30%;
	font-weight: 300;
}

.fancy {
	align-items: center;
	background-color: transparent;
	border: 2px solid #000;
	border-radius: 0;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-weight: 700;
	letter-spacing: 0.05em;
	margin: 0;
	outline: none;
	overflow: visible;
	padding: 1.25em 2em;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	transition: all 0.3s ease-in-out;
	user-select: none;
	font-size: 13px;
   }
   
   .fancy::before {
	content: " ";
	width: 1.5625rem;
	height: 2px;
	background: black;
	top: 50%;
	left: 1.5em;
	position: absolute;
	transform: translateY(-50%);
	transform-origin: center;
	transition: background 0.3s linear, width 0.3s linear;
   }
   
   .fancy .text {
	font-size: 1.125em;
	line-height: 1.33333em;
	padding-left: 2em;
	display: block;
	text-align: left;
	transition: all 0.3s ease-in-out;
	text-transform: uppercase;
	text-decoration: none;
	color: black;
   }
   
   .fancy .top-key {
	height: 2px;
	width: 1.5625rem;
	top: -2px;
	left: 0.625rem;
	position: absolute;
	background: #e8e8e8;
	transition: width 0.5s ease-out, left 0.3s ease-out;
   }
   
   .fancy .bottom-key-1 {
	height: 2px;
	width: 1.5625rem;
	right: 1.875rem;
	bottom: -2px;
	position: absolute;
	background: #e8e8e8;
	transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy .bottom-key-2 {
	height: 2px;
	width: 0.625rem;
	right: 0.625rem;
	bottom: -2px;
	position: absolute;
	background: #e8e8e8;
	transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy:hover {
	color: white;
	background: black;
   }
   
   .fancy:hover::before {
	width: 0.9375rem;
	background: white;
   }
   
   .fancy:hover .text {
	color: white;
	padding-left: 1.5em;
   }
   
   .fancy:hover .top-key {
	left: -2px;
	width: 0px;
   }
   
   .fancy:hover .bottom-key-1,
	.fancy:hover .bottom-key-2 {
	right: 0;
	width: 0;
   }
   .overlay {
	display: none;
	position: fixed;
	top: 0;
	left: -100%;
	width: 100%;
	height: 150%;
	z-index: 999;
	background:black;
	
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 1);
	transition: left 0.3s ease;
	transform: rotate(60deg);
  }
  
  .overlay.is-open {
	left: -635px;
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 150%;
    z-index: 999;
    background: black;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 1);
    transition: left 0.3s ease;
    transform: rotate(60deg);
}

.overlay.is-open {
    left: -635px;
}

.overlay-content {
    position: absolute;
    top: 15%;
    left:30.5%;
    text-align: center;
    transform: rotate(-60deg);
}

.overlay-link {
	font-weight: 900;
    padding: 50px;
    color: white;

    text-decoration: none;
    display: block;
    margin: 10px 0;
    font-size: 50px;
	transition: all 0.3s ease;
	transform: scale(1);
}

.overlay-link:hover {

	color: #2fa2b6;
	transform: scale(1.2);
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

#one{
	width: 300px;
	margin-right: 15%;
}

#two{
	width: 300px;
	margin-left: 28%;
}
#three{
	width: 300px;
	margin-left: 42%;
}

.fancy2 {
    top: 42%;
    left:12%;
    text-align: center;
    transform: rotate(-60deg);
	align-items: center;
	background-color: transparent;
	color:white;
	cursor: pointer;
	display: inline-block;
	font-weight: 700;
	letter-spacing: 0.05em;
	margin: 0;
	outline: none;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	transition: all 0.1s ease-in-out;
	user-select: none;
	font-size: 13px;
}

.fancy2:hover {
color:#2fa2b6;
}
  

  
   
.ball {
	list-style: none;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #2fa2b6;
  }
  
  .ball:nth-child(1) {
	animation: bounce-1 2.1s ease-in-out infinite;
  }
  
  @keyframes bounce-1 {
	50% {
	  transform: translateY(180px);
	  scale: 0.3;
	}
  }
  
  .ball:nth-child(2) {
	animation: bounce-3 2.1s ease-in-out 0.3s infinite;
  }
  
  @keyframes bounce-2 {
	50% {
	  transform: translateY(180px);
	  scale: 0.3;
	}
  }
  
  .ball:nth-child(3) {
	animation: bounce-3 2.1s ease-in-out 0.6s infinite;
  }
  
  @keyframes bounce-3 {
	50% {
	  transform: translateY(180px);
	  scale: 0.3;
	}
  }

  .aboutme{
	width: 100%;
	height: 100%;
	background-color: #131313;
	display: flex;
  }

  .image-position {
	max-width: 10%;
	z-index: 800;
	position: absolute;
	top: 20px;
	left: 40%;
  }

 



.wrapper{
  margin-left: -120px;
  display: inline-flex;

}
.wrapper .icon{
  margin: 0 20px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon span {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	width: 100px;
	background: #fff;
	position: relative;
	z-index: 2;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
	transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon span i {
	font-size: 60px;
	line-height: 1;
  }
.wrapper .icon .tooltip{
  position: absolute;
  top: 0;
  z-index: 1;
  background: #fff;
  color: #fff;
  padding: 10px 18px;
  font-size: 20px;
  font-weight: 500;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip{
  top: -70px;
  opacity: 1;
  pointer-events: auto;
}
.icon .tooltip:before{
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%) rotate(45deg);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover span{
  color: #fff;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip{
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}
.wrapper .whatsapp:hover span,
.wrapper .whatsapp:hover .tooltip,
.wrapper .whatsapp:hover .tooltip:before{
  background: #3b9943;
}
.wrapper .twitter:hover span,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip:before{
  background: #46C1F6;
}
.wrapper .instagram:hover span,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip:before{
  background: #e1306c;
}
.wrapper .github:hover span,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip:before{
  background: #333;
}
.wrapper .youtube:hover span,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip:before{
  background: #DE463B;
}

@media only screen and (max-width: 600px) {
	body {
		padding-left: 0px;
		padding-top: 0px;
		flex-direction: column;
		justify-content: start;
	}
	.image-container {
		margin-top: 10px;
		padding-top: 0px;
	
		max-width: 90%;
		right: 9%;	
	}

	.text{
		margin-top: -30px;
		margin-left: 0px;
		font-size: 20px;
	}


	

}


* {
	scrollbar-width: thin;
	scrollbar-color: #000000 #FFFFFF;
  }
  
 
  *::-webkit-scrollbar {
	height: 12px;
	width: 12px;
  }
  *::-webkit-scrollbar-track {
	border-radius: 0px;
	background-color: #FFFFFF;
  }
  
  *::-webkit-scrollbar-track:hover {
	background-color: #CECECE;
  }
  
  *::-webkit-scrollbar-track:active {
	background-color: #A3AAAB;
  }
  
  *::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background-color: #000000;
  }
  
  *::-webkit-scrollbar-thumb:hover {
	background-color: #373737;
  }
  
  *::-webkit-scrollbar-thumb:active {
	background-color: #000000;
  }

  
@media (max-width: 1300px) {
	html,body {
		display: flex;
		  padding-left: 0;
		  padding-top: 0;
		  flex-direction: column;
		  justify-content: start;
		}
	  
		.image-container {
		  margin-top: 20px;
		  margin-left:65px;
		  padding-top: 0;
		  max-width: 90%;
		  max-height: 60%;;
		  right: 9%;
	
		}
	
		.image-position {
			display:none;
		  }
	  
		.text {
			margin-top: 20px;
		  margin-left: -20px;
		  font-size: 20px;
		}
		
		h2{
			margin-top: -20px;
		}
	
		.fancy {
			border: none;
		   }
	
		.fancy .top-key {
			display: none;
		   }
		   
		   .fancy .bottom-key-1 {
			display: none;
		   }
		   
		   .fancy .bottom-key-2 {
			display: none;
		   }
	
		   .fancy::before {
			display:none;
		   }
		   
		   .fancy .text {
			margin-top: -30px;;
			font-size: 1.125em;
			line-height: 1.33333em;
			padding-left: 15px;
			display: block;
			text-align: left;
			transition: all 0.3s ease-in-out;
			text-transform: uppercase;
			text-decoration: underline 2px;
			color: black;
		   }
		   
		   .fancy .top-key {
			height: 2px;
			width: 1.5625rem;
			top: -2px;
			left: 0.625rem;
			position: absolute;
			background: #e8e8e8;
			transition: width 0.5s ease-out, left 0.3s ease-out;
		   }
		   
		   .fancy .bottom-key-1 {
			height: 2px;
			width: 1.5625rem;
			right: 1.875rem;
			bottom: -2px;
			position: absolute;
			background: #e8e8e8;
			transition: width 0.5s ease-out, right 0.3s ease-out;
		   }
		   
		   .fancy .bottom-key-2 {
			height: 2px;
			width: 0.625rem;
			right: 0.625rem;
			bottom: -2px;
			position: absolute;
			background: #e8e8e8;
			transition: width 0.5s ease-out, right 0.3s ease-out;
		   }
		   
		   .fancy:hover {
			color: black;
			background: transparent;
		   }
		   
		   .fancy:hover::before {
			width: 0;
			background: white;
		   }
		   
		   .fancy:hover .text {
			color: black;
			padding-left: 0;
		   }
		   
		   .fancy2 {
			top: 5%;
			left:85%;
			text-align: center;
			transform: rotate(0deg);
			
		
		}
	
		.overlay {
		
			height: 100%;
			transform: rotate(0deg);
		}
		
		.overlay.is-open {
			left: 0px;
		}
		
		.overlay-content {
			margin-left: -22%;
			text-align: center;
			justify-content: center;
			transform: rotate(0deg);
		}
		
		.overlay-link {
			font-weight: 900;
			padding: 25px;
			text-decoration: none;
			display: block;
			margin: 0px 0;
			font-size: 40px;
			
		}
		
		.overlay-link:hover {
		
			color: #2fa2b6;
			transform: scale(1.2);
			text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
		  }
		
		#one{
			width: 300px;
			margin-right: 0;
		}
		
		#two{
			width: 300px;
			margin-left: 0;
		}
		#three{
			width: 300px;
			margin-left: 0;
		}
		
	
		.wrapper {
			margin-top:  80px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin-left: 0;
		}
		
		.wrapper .icon {
			margin: 10px 0;
			text-align: center;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			position: relative;
			z-index: 2;
			transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		}
	  

}

  @media (max-width: 600px) {
	html,body {
	display: flex;
	  padding-left: 0;
	  padding-top: 0;
	  flex-direction: column;
	  justify-content: start;
	}
  
	.image-container {
	  margin-top: 20px;
	  margin-left:65px;
	  padding-top: 0;
	  max-width: 90%;
	  max-height: 60%;;
	  right: 9%;

	}

	.image-position {
		display:none;
	  }
  
	.text {
		margin-top: 20px;
	  margin-left: -20px;
	  font-size: 20px;
	}
	
	h2{
		margin-top: -20px;
	}

	.fancy {
		border: none;
	   }

	.fancy .top-key {
		display: none;
	   }
	   
	   .fancy .bottom-key-1 {
		display: none;
	   }
	   
	   .fancy .bottom-key-2 {
		display: none;
	   }

	   .fancy::before {
		display:none;
	   }
	   
	   .fancy .text {
		margin-top: -30px;;
		font-size: 1.125em;
		line-height: 1.33333em;
		padding-left: 15px;
		display: block;
		text-align: left;
		transition: all 0.3s ease-in-out;
		text-transform: uppercase;
		text-decoration: underline 2px;
		color: black;
	   }
	   
	   .fancy .top-key {
		height: 2px;
		width: 1.5625rem;
		top: -2px;
		left: 0.625rem;
		position: absolute;
		background: #e8e8e8;
		transition: width 0.5s ease-out, left 0.3s ease-out;
	   }
	   
	   .fancy .bottom-key-1 {
		height: 2px;
		width: 1.5625rem;
		right: 1.875rem;
		bottom: -2px;
		position: absolute;
		background: #e8e8e8;
		transition: width 0.5s ease-out, right 0.3s ease-out;
	   }
	   
	   .fancy .bottom-key-2 {
		height: 2px;
		width: 0.625rem;
		right: 0.625rem;
		bottom: -2px;
		position: absolute;
		background: #e8e8e8;
		transition: width 0.5s ease-out, right 0.3s ease-out;
	   }
	   
	   .fancy:hover {
		color: black;
		background: transparent;
	   }
	   
	   .fancy:hover::before {
		width: 0;
		background: white;
	   }
	   
	   .fancy:hover .text {
		color: black;
		padding-left: 0;
	   }
	   
	   .fancy2 {
		top: 5%;
		left:85%;
		text-align: center;
		transform: rotate(0deg);
		
	
	}

	.overlay {
	
		height: 100%;
		transform: rotate(0deg);
	}
	
	.overlay.is-open {
		left: 0px;
	}
	
	.overlay-content {
		margin-left: -22%;
		text-align: center;
		justify-content: center;
		transform: rotate(0deg);
	}
	
	.overlay-link {
		font-weight: 900;
		padding: 25px;
		text-decoration: none;
		display: block;
		margin: 0px 0;
		font-size: 40px;
		
	}
	
	.overlay-link:hover {
	
		color: #2fa2b6;
		transform: scale(1.2);
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	  }
	
	#one{
		width: 300px;
		margin-right: 0;
	}
	
	#two{
		width: 300px;
		margin-left: 0;
	}
	#three{
		width: 300px;
		margin-left: 0;
	}
	

	.wrapper {
		margin-top:  80px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-left: 0;
	}
	
	.wrapper .icon {
		margin: 10px 0;
		text-align: center;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		position: relative;
		z-index: 2;
		transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}
  
}


	
@media (max-width: 380px) {

	.overlay-content {
		margin-left: -27%;
		
	}
}
@media (max-width: 350px) {
	.image-container {
		margin-left:60px;
	
	  }

	  .text {
		margin-top: -50px;
		
		font-size: 20px;
	  }

	  .fancy2 {
		top: 4%;
	
	
	}

	.overlay-content {
		margin-left: -35%;
		
	}
}